@font-face {
    font-family: 'Raleway';
    src: url('./font-assets/Raleway/Raleway-Thin.woff2') format('woff2'),
        url('./font-assets/Raleway/Raleway-Thin.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./font-assets/Raleway/Raleway-ThinItalic.woff2') format('woff2'),
        url('./font-assets/Raleway/Raleway-ThinItalic.woff') format('woff');
    font-style: italic;
}

/* :root {

} */

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body, html {
    background-color: black;
    color: white;

    height: 100vh;
    width: 100vw;

    font-family: "Raleway";
}

body {
    place-content: center;
}

.game-content {
    margin: 10rem;
    height: fit-content;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
   
    height: 70%;
    aspect-ratio: 1/1;

    place-self: center;
}

.game-board > div {
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    margin-left: -5px;
    margin-bottom: -5px;
}

.game-board > div:nth-last-child(-n+3) {
    border-bottom: none;
}

.game-board > div:nth-child(3n) {
    border-right:none;
}

.game-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;

    place-self: center;

    margin-top: 2rem;

    font-size: 1.8rem;
}

/* this effect should be used for the player who is currently 'active' */
.highlight {
    font-weight: bold;
}

.score {
    font-size: 3.2rem;
}

.game-stats > div {
    display: grid;
    justify-items: center;
}
