@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Thin.woff2') format('woff2'),
        url('Raleway-Thin.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-ThinItalic.woff2') format('woff2'),
        url('Raleway-ThinItalic.woff') format('woff');
    font-style: italic;
}

/* :root {

} */

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
    background-color: black;
    color: white;

    height: 100vh;
    width: 100vw;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
   
    height: 70%;
    aspect-ratio: 1/1;

    place-self: center;
}

.game-board > div {
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    margin-left: -5px;
    margin-bottom: -5px;
}

.game-board > div:nth-last-child(-n+3) {
    border-bottom: none;
}

.game-board > div:nth-child(3n) {
    border-right:none;
}
