@font-face {
    font-family: 'Raleway';
    src: url('./font-assets/Raleway/Raleway-Thin.woff2') format('woff2'),
        url('./font-assets/Raleway/Raleway-Thin.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./font-assets/Raleway/Raleway-ThinItalic.woff2') format('woff2'),
        url('./font-assets/Raleway/Raleway-ThinItalic.woff') format('woff');
    font-style: italic;
}

:root {
  --hover: #494b4f;
  --main-accent: black;
  --contrasting-background: white;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body, html {
  background-color: var(--main-accent);;
  color: var(--contrasting-background);

  height: 100vh;
  width: 100vw;

  font-family: "Raleway";
}

body {
  place-content: center;
}

.game-content {
  margin: 10rem;
  height: fit-content;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
  height: 70%;
  aspect-ratio: 1/1;

  place-self: center;
}

.game-board > div {
  border-bottom: 5px solid var(--contrasting-background);
  border-right: 5px solid var(--contrasting-background);
  height: 100%;
  aspect-ratio: 1/1;
  margin-left: -5px;
  margin-bottom: -5px;
}

.game-board > div:nth-last-child(-n+3) {
  border-bottom: none;
}

.game-board > div:nth-child(3n) {
  border-right: none;
}

.game-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;

  place-self: center;

  margin-top: 2rem;
  margin-left: 6.5rem;

  font-size: 1.8rem;
}

#reset {
  background-image: url('./image-assets/restart.svg');
  background-repeat: no-repeat;
  width: 4rem;
  aspect-ratio: 1/1;

  background-origin: border-box;
  background-repeat: no-repeat;
  background-color: var(--contrasting-background);
  background-position: 50% 50%;
  background-size: 4rem;
  filter: invert(1);

  align-self: center;
  border: none;
  margin-left: 2.5rem;
}

.highlight {
  font-weight: bold;
}

.score {
  font-size: 3.2rem;
}

.game-stats > div {
  display: grid;
  justify-items: center;
}

#get-info form {
  display: grid;
  font-size: 1.2rem;
  justify-items: center;
  align-items: start;
  font-weight: bold;

  grid-template-rows: repeat(2, 7.5rem) 1.5rem 5rem;
  grid-template-columns: 1fr 9rem;
  width: 30rem;
  padding: 1.25rem;
}

.player-name {
  display: grid;
  grid-template-rows: 1.5rem 3.3rem;
  gap: 0.75rem;
}

.player-name input {
  padding: 1rem 0.5rem;
}

.shape-choice-container {
  display: grid;
  grid-template-rows: 1.5rem 1fr;
  justify-items: start;
  align-items: start;
  justify-content: center;
  row-gap: 0.75rem;
  height: 100%;
  width: 100%;
}

label, .shape-choice-heading {
  height: fit-content;
}

.shape-choice-wrapper {
  display: flex;
  align-items: flex-start;
}

.shape-choice-wrapper .input {
  display: none;
}

.shape-choice, #start  {
  text-align: center;
  padding: 0.763rem;
  background: var(--contrasting-background);
  border: 1px solid var(--main-accent);
  cursor: pointer;
  transition: 0.2s ease-in-out; 
}

.shape-choice[for="O-one"],
.shape-choice[for="O-two"] {
  content: url('./image-assets/circle.svg')
}

.shape-choice[for="X-one"],
.shape-choice[for="X-two"] {
  content: url('./image-assets/cross.svg')
}

.shape-choice:hover {
  background: var(--hover);
  border-color: var(--hover);
}

.input:checked + label.shape-choice {
  filter:invert(1);
}

#start:active, #start:focus {
  filter:invert(1);
}

#start {
  font-size: 1.4rem;
  font-weight: bolder;
  height: fit-content;
  width: 15rem;
  grid-column-start: 1;
  grid-column-end: 3;

  align-self: end;
}

#warning {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: end;
  color: red;
}

.placeX {
  filter: invert(1);
}

.placeO {
  background-image: url(./image-assets/circle.svg);
  background-origin: border-box;
  filter: invert(1);
}

.shake {
  animation: horizontal-shaking 0.25s;
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}
